body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
/* di chuyển chuột vào sẽ phóng to hình ảnh */
.scaleImg:hover {
  transform: scale(1.2);
  transition: 0.7s;
}

/* Lớp giả custom-scroll */
.custom-scroll {
  /* Thiết lập kiểu cuộn ngang */
  overflow-x: auto;
  overflow-y: hidden;
}

/* Thiết lập chiều ngang tối đa và padding cho container */
.container {
  max-width: 100%; /* Kích thước tối đa là 100% của container cha */
  padding: 20px; /* Thêm khoảng cách bên trong container nếu cần */
}

/* Tùy chỉnh giao diện thanh cuộn nếu bạn muốn */
.custom-scroll::-webkit-scrollbar {
  height: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #888; /* Màu của con trỏ thanh cuộn */
  border-radius: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Màu khi con trỏ di chuột lên */
  border-radius: 5px;
}
